* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 50px;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result_2 {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result_2 li {
    font-size: 20px;
    color: darkgreen;
}




